body {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

img {
  pointer-events: none;
}

/* Anule os estilos padrão do Bootstrap para os controles do carrossel */
.carousel-control-prev,
.carousel-control-next {
  background-color: black !important;
  color: white !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.carousel-control-prev i,
.carousel-control-next i {
    font-size: 30px !important;
    color: white !important;
    background-color: transparent !important;
}

.carousel-control-prev {
  left: -50px !important; /* Move a seta da esquerda mais para a esquerda */
}
      
.carousel-control-next {
  right: -50px !important; /* Move a seta da direita mais para a direita */
}
      
.carousel-container {
        width: 60%; /* Ajuste a largura conforme necessário */
        margin: 10px auto; /* 10px de margem superior e inferior, e centralize o carrossel horizontalmente */
        position: relative; /* Permitirá posicionar os controles de forma relativa a este contêiner */
        display: block; /* Defina o elemento como bloco para evitar margens extras na parte inferior */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.carousel {
        margin-top: 0;
        margin-bottom: 0;
}
      
.custom-width {
  width: 50%; /* Ajuste a largura desejada aqui */
}    

.custom-button-prevTen {
  position: absolute;
  left: 20px; /* Ajuste a posição horizontal conforme necessário */
  top: 100px; /* Move o botão mais para cima (valor negativo) */
  transform: translateY(-50%);
}

.custom-button-prevTen {
  position: absolute;
  left: -50px; /* Ajuste a posição horizontal conforme necessário */
  top: 100px; /* Move o botão mais para cima (valor negativo) */
  transform: translateY(-50%);
  background-color: white; 
  color: rgb(0, 0, 0); 
  border: none; /* Remove a borda se necessário */
}

.custom-button-nextTen {
  position: absolute;
  right: -50px; /* Ajuste a posição horizontal conforme necessário */
  top: 100px; /* Move o botão mais para cima (valor negativo) */
  transform: translateY(-50%);
  background-color: white; 
  color: rgb(0, 0, 0); 
  border: none; /* Remove a borda se necessário */
}

.custom-button-prevTen i,
.custom-button-nextTen i {
  font-size: 24px; /* Ajuste o tamanho do ícone conforme necessário */
}

.navbar {
  background-color: pink !important;
}

.navbar-logo {
  max-height: 45px; /* Defina o tamanho máximo desejado para o logotipo */
}

.button-icon {
  font-size: 2rem; /* Tamanho padrão */
  color: pink;
}

.button-icon-secondary {
  font-size: 2rem; /* Tamanho padrão */
  color: rgb(255, 255, 255);
}

.landscape-warning {
  display: none; /* Ocultar o aviso por padrão */
  text-align: center;
}

.custom-font {
  font-family: 'Montserrat', sans-serif;
}

.button-icon-pink {
  background-color: pink !important;
  color: white !important;
  border: none;
}

.button-icon-pink:hover {
  background-color: lightpink !important;
}

/*
@media only screen and (max-width: 500px) {
  .content {
    display: none; 
  }
  .landscape-warning {
    display: block; 
    text-align: center;
  }
  .centered-image {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    height: 100%; 
  }
}*/

@media (max-width: 1024px) {

  .carousel.pointer-event {
    touch-action: pan-y pinch-zoom;
  }

  .navbar-brand#pageTracker {
    display: none;
  }

  .button-icon {
    font-size: 1rem; /* Tamanho menor para dispositivos menores */
    color: pink;
  }

  .button-icon-secondary {
    font-size: 1rem; /* Tamanho padrão */
    color: rgb(255, 255, 255);
  }
  /* Anule os estilos padrão do Bootstrap para os controles do carrossel para dispositivos móveis */
  .carousel-control-prev,
  .carousel-control-next {
    display: none !important;
  }

  .custom-button-prevTen i,
  .custom-button-nextTen i {
    display: none !important;
  }

  .carousel-container {
    width: 100%; /* Ajuste a largura conforme necessário para dispositivos móveis */
    /* ... Outros estilos específicos para dispositivos móveis ... */
  }

  .custom-width {
    width: 50%; /* Ajuste a largura desejada aqui para dispositivos móveis */
    /* ... Outros estilos específicos para dispositivos móveis ... */
  }

  .custom-button-prevTen,
  .custom-button-nextTen {
    /* Ajuste as posições horizontais e superiores conforme necessário para dispositivos móveis */
    /* ... Outros estilos específicos para dispositivos móveis ... */
  }
}
